/* Reset css */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    

    background-image: linear-gradient(#708090, #A0A0A0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: flex;
}


.content{
    display: flex;
    width: 100%;
    padding: 30px;
}
/* Left side CSS*/ 
.left{
    position: relative;
    background-color: #FFA07A	;
    width: 33.333%;
    
}
.left_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* avatar*/
.left_content_avt{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    
}

.left_content_avt img{
   margin-top: 20px;
   border-radius: 50%;
   width: 100%;
   height: 100%; 
   object-fit: cover;
   position: absolute;


}
/* contact infor*/
.left_content_info{
   
    text-align: center;

}
.left_content_info_name{
    margin-bottom: 10px;
    

}
.left_content_info_name h2{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    
}
.left_content_info_name i{
    border-bottom: 2px solid black;
}

.left_content_info_contact{
    display: flex;
    flex-direction: column;
    


}
.info_contact_items{
   
    text-align: left;
    line-height: 1.8;
    font-size: 15px;
    
}

.info_contact_text {
    display:inline-flex;
}

.ti_icon{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 5px;
}

/* Skills*/

.skills{
    display: flex;
}

.skills_items{
    display: flex;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    list-style-position: inside;
    
}
.skill_title{
   display: block;
   text-align: center;
   margin-top: 10px;
   
   
    
}
.skills_para {
    text-align: left;
    padding-top: 10px;
    margin-right: 20px;
    
}

.skills_tech{
   padding-bottom: 10px;
    line-height: 1.5;
    font-size: 17px;
}
.skills_soft{
    line-height: 1.5;
    font-size: 17px;
}


/* certiification*/
.left_content_certifi{
    margin-top: 10px;
}

.certifi_title{
    text-align: center;
    padding-bottom: 10px;
    
}

.certifi_content{
    display: flex;
    text-align: left;
    

}

.certifi_bold{
    padding-left: 25px;
    font-size: 17px;
    font-weight: 600;
    
} 
.certifi_f8_text{
    line-height: 1.6;
    margin-top: 5px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 5px;
    
}

.certifi_codelearn_text{
    padding-left: 40px;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-right: 5px;
}


/* right side*/
.right{
   position: relative;
   background-color: beige;
   width: 66.667%;
}

.right_content{
    display: flex;
    flex-direction: column;
}

/* Introduce */
.introduce{
    display: flex;

}
.introduce_items{
   margin-left: 20px;
   margin-top: 30px;
    text-align: left;
    line-height: 1.3;
}

.introduce_title{
    text-align: left;
    padding-left: 60px;
}

.introduce_text_bio{
    padding-bottom: 10px;
    padding-top: 3px;
    margin-left: 20px;
    padding-right: 30px;
    
    font-size: 17px;
    font-weight: 400;
    
}
.introduce_text_sentence{
    text-align: center;
    margin-right: 20px;
    font-weight: 600;
    
}

/*edu content*/


.left_content_edu .edu_title{
    text-align: left;
    padding-bottom: 5px;
    padding-left: 80px;
    margin-top: 20px;
} 
.edu_content{
    padding-left: 40px;
    
}


.edu_university{
    margin-bottom: 10px;
}

.edu_f8{
    margin-bottom: 10px;
    display: flex;
    
}

.edu_university{
    margin-bottom: 10px;
    display: flex;
    
}
.edu_codelearn{
    margin-bottom: 10px;
    display: flex;
}

.edu_f8_frontend{
    text-align: left;
}
.time{
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 80px;
    font-size: 17px;
    font-weight: 600;
}
.time_f8{
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 55px;
    font-size: 17px;
    font-weight: 600;
}






/*Product*/
.product{
    display: flex;
    margin-top: 20px;
}
.product_items{
    text-align: left;
    padding-left: 40px;
    list-style-position: inside ;
    line-height: 1.5;
}

.product_title{
padding-left: 40px;

}

.product_calc {
    padding-bottom: 3px;

}
.product_list{
    margin-bottom: 10px;
}
.product_cv{
    padding-bottom: 3px;
}

.product_list a{
    text-decoration: none;
    
    
}
/*work experience*/
.exp{
    display: flex;
    
}

.exp_items{
   padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    line-height: 1.5;
}
.exp_title{
    text-align: left;
    margin-left: 50px;
    
}

.exp_content{
    display: flex;
    margin-left: 10px;
}
.exp_ck, .exp_hutong {
    display: flex;
}    
.exp_ck_time{
    margin-right: 30px;
   margin-top: 20px;
    font-size: 17px;
    padding-right: 35px;
    margin-left: 10px;
    font-weight: 600;
}
.exp_hutong_time{
    margin-right: 30px;
    padding-top: 20px;
    font-weight: 600;
    padding-right: 26px;
    margin-left: 10px;
    font-size: 17px;
}

.exp_ck_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 17px;
    padding-top: 10px;
    
   
}
.exp_hutong_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    font-size: 17px;
    padding-top: 10px;
}
